:root{
    --maincolor:#041121;
    --buttonColor:#28559a;
}

.dashboard{
       display: flex;
       justify-content: space-between;
       flex-flow: row;
       transition: 0.6s;
}
.heading-top{
    height:0;   
}
.side li a:hover{
    background-color: none;
}
nav{
    background-color: var(--maincolor); 
}


.nav ul {
    margin-top: 0;
    list-style: none;
}


.right ul li:hover {
    background-color: none;

}



.nav div {
    margin-left: 15px;
}

.nav a {
    font-size: 13;
    text-decoration: none;
    color: white;
    font-weight: 500;
}
.drop ul li{
    padding-left: 10;
    padding-right: 10px;
   
}
.logout:hover{
    background-color: none;

}


.logout button:hover{
    background-color: #ed145b;
}