.name,
.mail-username,
.passwords
{
    display: flex;
    flex-flow: row;
    
} 
.heading{
    text-align: center;
    margin-bottom: 50px;
    padding-bottom: 15;
    border-bottom: 1px solid #d8d8d8;
}
.registerPage{
    border: 1px solid rgb(209, 209, 209);
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
     padding: 10px 20px 20px 20px;
  
}
.registerPage:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
        0 10px 10px rgba(0, 0, 0, 0.22);
}
.buttons{
    text-align: center;
}
.sign{
    color: red;
}
.sign:hover {
    text-decoration: underline;
}
.ourButton{
    background-color: red;
}
.ourButton:hover {
    background-color: var(--buttonColor);
}


@media only screen and (max-width: 2000px) {
    .registerPage {
        margin: 30px auto 20px auto;
        align-items: center;
        width: 30%;
    }
}

@media only screen and (max-width: 1200px) {
    .registerPage {
        margin: 70px auto 20px auto;
        align-items: center;
        width: 40%;
    }
}

@media only screen and (max-width: 850px) {
    .registerPage {
        margin: 70px auto 20px auto;
        align-items: center;
        width: 60%;
    }
}

@media only screen and (max-width: 500px) {
    .registerPage {
        margin: 70px auto 20px auto;
        align-items: center;
        width: 80%;
    }
}
