input[type=search]{
    background-color: wheat !important;
    margin-top: 12 !important;
    color: black;
    padding-left:60px !important;
    text-align: left;
    width: 90% !important;
    border-radius: 4px !important;
    height: 40 !important;
    position: relative;
}
input[type=search]:hover{
  
   box-shadow: 0 0 4px #d6b007 !important;
}
.adjust{

    width: 35% !important;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.search-icon{
    
    position:absolute;
    top: -12;
    left: 10;
}
.search-icon:after{
    content: "";
    height: 38px;
    width: 3%;
    background-color: rgb(146, 145, 145);
    position: absolute;
    top: 13;
    left: 35;
}
