

.login-wrapper{
   border: 1px solid rgb(216, 213, 213);
    width: 100%;
    text-align: center;
    padding: 0px 20px 20px 20px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}
.form-group label{
    font-weight: 500;
    color: black;
    text-align: left;
}
.registration{
    color: red;
}
.registration:hover {
   
    text-decoration: underline;
}


.login-heading{
    border-bottom: 1px solid #d8d8d8;
    margin-bottom: 4em;
    padding-bottom: 20;
}

.login-wrapper:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
}

.login{
    background-color: red;
}
.login:hover{
    background-color: var(--buttonColor);
    filter: brightness(1.5);
}

@media only screen and (max-width: 2000px) {
    .loginPage {
        margin: 50px auto auto auto;
        align-items: center;
        width: 30%;
        margin-bottom: 20px;
    }
    .login{
        margin-top: 20;
    }
}

@media only screen and (max-width: 1200px) {
    .loginPage {
        margin: 70px auto auto auto;
        align-items: center;
        width: 35%;
        margin-bottom: 20px;
    }
    .ourButton {
        margin-top: 20;
    }
}

@media only screen and (max-width: 900px) {
    .loginPage {
        margin: 70px auto auto auto;
        align-items: center;
        width: 40%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 700px) {
    .loginPage {
        margin: 70px auto auto auto;
        align-items: center;
        width: 65%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .loginPage {
        margin: 70px auto auto auto;
        align-items: center;
        width: 60%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .loginPage {
        margin: 70px auto auto auto;
        align-items: center;
        width: 80%;
        margin-bottom: 20px;
    }
}
